Library/*
*.csproj
Temp/*
Logs/*
Logs/*.log
Logs/**/*.log
Obj/*
Build/*
Builds/*
UserSettings/*
MemoryCaptures/*
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.ide
*.DS_Store
*.apk
*.aab
*.xcodeproj
*.xcworkspace
*.xcuserdata
*.hmap
*.ipa
*.app
*.app.dSYM
*.dSYM